* {
  margin: 0;
  box-sizing: content-box;
  /* outline: 1px solid blue; */
}

body {
  background-color: lightblue;
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h1 {
  color: lightcyan;
  background-color: darkcyan;
  padding: 10px;
}
hr {
  border-style: double;
  color: darkcyan;
}

button {
  padding: 10px;
  font-weight: bold;
  font-size: large;
  background-color: lightcyan;
  border-radius: 5px;
  border-color: darkcyan;
  margin-bottom: 20px;
  cursor: pointer;
  /* border-style: solid; */
}

button:hover {
  color: darkcyan;
  transition: 0.2s;
}

button:active {
  background-color: white;
  transition: 0.2s;
}

.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  /* outline: 2px solid red; */
}

.round-number {
  font-size: larger;
  font-weight: bolder;
  margin: 0px 20% 10px 20%;
  border: 2px solid burlywood;
  border-radius: 10px;
  padding: 10px;
  background-color: bisque;
}

.round-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0px 20% 10px 20%;
  border: 2px solid darkcyan;
  border-radius: 10px;
  padding: 10px;
  background-color: lightseagreen;
}

.round-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0px 20% 10px 20%;
  border-radius: 10px;
  padding: 10px;
  background-color: lightskyblue;
}

/* .round-container * {
  outline: 2px solid red;
} */

.choice-container {
  display: flex;
  gap: 5px;
}

.player-choice-container,
.computer-choice-container,
.result-container {
  background-color: lightcyan;
  border: 2px solid darkcyan;
  padding: 5px 30px;
  border-radius: 5px;
  white-space: pre-line;
}

footer {
  margin-top: auto;
  background-color: darkcyan;
  color: lightcyan;
  font-weight: bold;
  padding: 10px;
}

::selection {
  color: cyan;
  background: lightseagreen;
  font-family: "Times New Roman", Times, serif;
}

.winner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0px 20% 10px 20%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid darkred;
  background-color: tomato;
  font-weight: bold;
  font-size: x-large;
}
/* * {
  outline: 2px solid red;
} */
